<section id="map-platform">
  <div class="map-container">
    <app-ol-map
      (onMapClick)="onDisplayFeatureInfo($event)"
    >
      <div #wfsCard class="ol-popup wfs-card">
        <div class="popup-content">
          <div *ngIf="featureCollections.length > 0">
            <div *ngFor="let featureCollection of featureCollections">
              <div class="title-container">
                <span class="title">
                  {{ featureCollection.layerType.labelLayer }}
                </span>
                <span class="close-btn" (click)="closePopup()">
                  <i
                    class="bx bx-x"
                    style="cursor: pointer; font-size: x-large"
                  ></i>
                </span>
              </div>
              <div class="details">
                <div class="details-inner">
                  <div
                    class="details-row"
                    *ngFor="
                      let attribute of featureCollection.layerType.wfsMapCard
                        .attributes
                    "
                  >
                    <div class="details-row-header">{{ attribute.label }}:</div>
                    <div class="details-row-content">
                      {{
                        getAttributeValue(
                          attribute,
                          featureCollection.features[0].properties[
                            attribute.column
                          ]
                        )
                      }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="popupRegion.coordinate.length > 0" class="popup-footer">
          <span *ngFor="let attribute of popupRegion.attributes">
            {{ attribute.label }}:
            <strong>{{
              getAttributeValue(
                attribute.columnType,
                popupRegion.properties[attribute.column]
              )
            }}</strong>
          </span>
          <span
            >{{ "popup-info.lat" | translate }}:
            <strong>{{
              popupRegion.coordinate[1] | number : "1.0-4" : "en-US"
            }}</strong></span
          >
          <span
            >{{ "popup-info.lon" | translate }}:
            <strong>{{
              popupRegion.coordinate[0] | number : "1.0-4" : "en-US"
            }}</strong></span
          >
        </div>
      </div>
    </app-ol-map>
  </div>
  <p-toast></p-toast>

  <!-- TODO: Fix it -->
  <p-dialog
    header="{{ 'atlasinformation.title' | translate }}"
    [maximizable]="true"
    [draggable]="false"
    [resizable]="false"
    [appendTo]="'body'"
    [modal]="true"
    [style]="{ width: isMobile ? '98vw' : '45vw' }"
    [visible]="false"
  >
    <div class="message-content">
      <p [innerHTML]="'atlasinformation.text' | translate"></p>
    </div>
  </p-dialog>
</section>

<ng-template #loadingSpinner>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<app-user-info-dialog></app-user-info-dialog>
