<section id="map-platform">
  <div class="map-container">
    <app-ol-map>
      <!-- Search Bar Toggle Button (top-left, below FullScreen control) -->
      <div class="ol-control ol-search-toggle">
        <button
          type="button"
          [pTooltip]="searchBarVisible ? ('controls.hide_search' | translate) : ('controls.show_search' | translate)"
          (click)="searchBarVisible = !searchBarVisible"
          [title]="searchBarVisible ? ('controls.hide_search' | translate) : ('controls.show_search' | translate)"
        >
          <i class="bx bx-search"></i>
        </button>
      </div>

      <!-- Layer Legend Section: Displays the active layers, their legend graphics, and controls (reorder, download SLD, toggle visibility) -->
      <div
        *ngIf="this.layersLegend.length > 0"
        [class]="legendExpanded ? 'legends' : 'legends legends-expanded'"
      >
        <div class="legends-container">
          <div class="legends-header">
            <h5>{{ "legend.title" | translate }}</h5>
            <i
              [pTooltip]="
                legendExpanded
                  ? ('minimize' | translate)
                  : ('maximize' | translate)
              "
              (click)="legendExpanded = !legendExpanded"
              [class]="legendExpanded ? 'bx bx-collapse' : 'bx bx-expand'"
            ></i>
          </div>
          <div
            class="legends-body"
            cdkDropList
            (cdkDropListDropped)="updateLayersOrder($event)"
          >
            <div
              *ngFor="let legend of layersLegend"
              cdkDrag
              [class]="
                legend.expanded
                  ? 'legend-card legend-card-active'
                  : 'legend-card'
              "
            >
              <div class="legend-card-content">
                <div class="abstract">
                  <span>
                    <i
                      class="bx bx-move"
                      tooltipPosition="left"
                      pTooltip="{{ 'legend.move' | translate }}"
                    ></i>
                    <div
                      class="legend-label"
                      tooltipPosition="left"
                      pTooltip="{{
                        legend.key === 'planet'
                          ? ('planet' | translate)
                          : legend.label
                      }}"
                    >
                      {{
                        legend.key === "planet"
                          ? ("planet" | translate)
                          : legend.label
                      }}
                    </div>
                    <div class="legend-tools">
                      <i
                        class="bx bxs-download"
                        tooltipPosition="left"
                        [pTooltip]="'sld.title' | translate"
                        (click)="downloadSLD(legend.key)"
                      ></i>
                      <!-- TODO:  -->
                      <i
                        tooltipPosition="left"
                        (click)="toggleLayerLegend(legend)"
                        [pTooltip]="
                          legend.expanded
                            ? ('minimize' | translate)
                            : ('maximize' | translate)
                        "
                        [class]="
                          legend.expanded
                            ? 'bx bxs-up-arrow-circle'
                            : 'bx bxs-down-arrow-circle'
                        "
                      ></i>
                    </div>
                  </span>
                </div>
                <div class="details">
                  <div *ngIf="legend.legend; else defaultLegend" class="details-inner custom-legend">
                    <div *ngFor="let item of legend.legend" class="custom-legend-item">
                      <span class="custom-legend-color" [style.background-color]="item.color"></span>
                      <span class="custom-legend-label">{{ item.label }}</span>
                    </div>
                  </div>
                  <ng-template #defaultLegend>
                    <div
                      *ngIf="legend.filterHandler === 'layername'; else noFilters"
                      class="details-inner"
                    >
                      <img
                        src="{{
                          env.OWS
                        }}/ows?EXCEPTIONS=application%2Fvnd.ogc.se_xml&TRANSPARENT=TRUE&VERSION=1.1.1&SERVICE=WMS&REQUEST=GetLegendGraphic&layer={{
                          legend.filter
                        }}&format=image%2Fpng"
                        alt="{{ legend.key }}"
                      />
                    </div>
                    <ng-template #noFilters>
                      <div class="details-inner">
                        <img
                          src="{{
                            env.OWS
                          }}/ows?EXCEPTIONS=application%2Fvnd.ogc.se_xml&TRANSPARENT=TRUE&VERSION=1.1.1&SERVICE=WMS&REQUEST=GetLegendGraphic&layer={{
                            legend.key
                          }}&format=image%2Fpng"
                          alt="{{ legend.key }}"
                        />
                      </div>
                    </ng-template>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Information Popup: Displays details about clicked features (WFS/Identify results) -->
      <div
        [hidden]="popupRegion.coordinate.length == 0"
        #wfsCard
        id="popup"
        class="ol-popup wfs-card"
      >
        <div class="popup-header">
          <h5>{{ "popup-info.title" | translate | uppercase }}</h5>
          <i
            id="popup-closer"
            pTooltip="{{ 'popup-info.close' | translate }}"
            (click)="closePopup()"
            class="bx bx-x bx-lg"
          ></i>
        </div>
        <div class="popup-body" *ngIf="featureCollections.length > 0">
          <div *ngFor="let featureCollection of featureCollections">
            <div class="details-inner" *ngIf="featureCollection.layerType">
              <div
                class="details-row"
                *ngFor="
                  let attribute of featureCollection.layerType?.wfsMapCard
                    ?.attributes
                "
              >
                <div class="details-row-header">{{ attribute.label }}:</div>
                <div class="details-row-content">
                  {{
                    getAttributeValue(
                      attribute,
                      featureCollection.features[0].properties[
                        attribute.column
                      ]
                    )
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="popupRegion.coordinate.length > 0 && featureCollections.length <= 0" class="popup-footer">
          <span *ngFor="let attribute of popupRegion.attributes">
            {{ attribute.label }}:
            <strong>{{
              getAttributeValue(
                attribute,
                popupRegion.properties[attribute.column]
              )
            }}</strong>
          </span>
        </div>
      </div>
    </app-ol-map>

    <!-- Malha Fundiaria Search Bar (Positioned outside app-ol-map for better stacking) -->
    <div class="malha-search-container" *ngIf="searchBarVisible">
      <div class="search-category-selector">
        <p-selectButton style="width: 100%;"
          [options]="searchCategoryOptions"
          [(ngModel)]="searchCategory"
          optionValue="value"
          (onChange)="onClearMalhaSearch()"
        >
          <ng-template let-option pTemplate="item">
            <i class="material-icons">{{ option.icon }}</i>
            <span>{{ option.label | translate }}</span>
          </ng-template>
        </p-selectButton>
      </div>
      <div class="search-input-wrapper">
        <p-autoComplete
          [(ngModel)]="malhaSearchValue"
          [appendTo]="'body'"
          placeholder="{{ 'controls.search_placeholders.' + searchCategory | translate }}"
          [suggestions]="malhaSearchSuggestions"
          [showEmptyMessage]="true"
          (completeMethod)="onSearchMalha($event)"
          (onSelect)="onSelectMalha($event)"
          (keyup)="onKeyUpMalha($event)"
          field="text"
          styleClass="wid100"
        >
          <ng-template let-result pTemplate="item">
            <div>{{ result.text }}</div>
          </ng-template>
          <ng-template pTemplate="footer">
            <div *ngIf="malhaSearchLoading" class="search-loader">
              <i class="pi pi-spin pi-spinner"></i> {{ "controls.loading" | translate }}
            </div>
          </ng-template>
        </p-autoComplete>
        <i
          *ngIf="malhaSearchValue?.text"
          class="close bx bx-x-circle"
          (click)="onClearMalhaSearch()"
        ></i>
      </div>
    </div>

    <!-- Navigation controls: Reset drilldown navigation -->
    <div class="reset-drilldown" *ngIf="drillDownLevel > 0">
      <button 
        pButton 
        type="button" 
        icon="pi pi-refresh" 
        label="{{ 'controls.reset_navigation' | translate }}" 
        (click)="resetDrillDown()"
        class="p-button-secondary p-button-raised">
      </button>
    </div>
  </div>

  <!-- Global UI Components: Toasts, Information Dialogs, and User Info -->
  <p-toast></p-toast>

  <!-- TODO: Fix it -->
  <p-dialog
    header="{{ 'atlasinformation.title' | translate }}"
    [maximizable]="true"
    [draggable]="false"
    [resizable]="false"
    [appendTo]="'body'"
    [modal]="true"
    [style]="{ width: isMobile ? '98vw' : '45vw' }"
    [visible]="false"
  >
    <div class="message-content">
      <p [innerHTML]="'atlasinformation.text' | translate"></p>
    </div>
  </p-dialog>
</section>

<ng-template #loadingSpinner>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<app-user-info-dialog></app-user-info-dialog>
