<!-- Layer Sidebar Content -->
<h4 class="sidebar-title">{{ "menu.layers" | translate }}</h4>

<p-toast></p-toast>

<div *ngIf="descriptor != null; else loading">
  <p-accordion
    [multiple]="true"
    [activeIndex]="accordionTabExpanded"
    (onOpen)="onAccordionTabOpen($event)"
    (onClose)="onAccordionTabClose($event)"
    styleClass="modern-accordion"
  >
      <p-accordionTab *ngFor="let group of descriptor!.groups">
        <ng-template pTemplate="header">
          <span class="group-label">{{ group.labelGroup }}</span>
        </ng-template>

        <div class="layers-list">
          <div *ngFor="let layer of group.layers" class="layer-card">
            <div class="layer-card-header">
              <p-inputSwitch [ngModel]="layer.visible" (onChange)="onChangeVisibility(layer.idLayer, $event)"/>
              <h5>{{ layer.labelLayer }}</h5>
              <div class="legend-tools">
                <i *ngIf="layer.visible"
                  pTooltip="{{ 'left_sidebar.layer.metadata' | translate }}"
                  class="bx bx-info-circle" (click)="showMetadata(layer)">
                </i>
              </div>
            </div>

            <div class="layer-card-body" *ngIf="layer.visible">
                <div class="layer-alert" *ngIf="layer.selectedTypeObject?.alertMessage">
                  <span>{{ layer.selectedTypeObject?.alertMessage }}</span>
                </div>
                
                <div class="layer-controls-grid">
                  <div class="p-field" *ngIf="layer.types.length > 1">
                    <label class="control-label">{{ layer.selectedTypeObject!.typeLabel }}</label>
                    <p-dropdown appendTo="body" id="types-{{ layer.selectedType }}"
                      [options]="layer.types" [(ngModel)]="layer.selectedType"
                      optionLabel="viewValueType" optionValue="valueType"
                      (onChange)="onChangeType(layer.idLayer, $event)"
                    ></p-dropdown>
                  </div>

                  <div class="p-field" *ngIf="layer.selectedTypeObject!.filters">
                    <label class="control-label">{{ layer.selectedTypeObject!.filterLabel }}</label>
                    <p-dropdown appendTo="body" id="type-filters-{{layer.selectedTypeObject!.filterSelected}}"
                      [options]="layer.selectedTypeObject!.filters" [(ngModel)]="layer.selectedTypeObject!.filterSelected"
                      optionLabel="viewValueFilter" optionValue="valueFilter"
                      (onChange)="onChangeFilter(layer.idLayer, $event)"
                    ></p-dropdown>
                  </div>
                </div>

                <div class="layer-transparency">
                  <div class="transparency-header">
                    <span>{{ "left_sidebar.opacity" | translate }}</span>
                  </div>
                  <p-slider (onChange)="onChangeTransparency(layer.idLayer, $event)" [min]="0" [max]="100" [ngModel]="100"/>
                </div>

                <div class="layer-exports">
                  <ng-container *ngFor="let download of downloadFormats">
                    <ng-container *ngIf="layer.selectedTypeObject!.download[download] && !layer.selectedTypeObject!.download.loading">
                    <button 
                      class="p-button-outlined p-button-sm" pButton pRipple type="button"
                      pTooltip="{{ 'left_sidebar.layer.down_' + download | translate }}"
                      icon="pi pi-download" [label]="downloadFormatsLabels[download]"
                      (click)="onDownload(download, layer.selectedTypeObject!)"
                    ></button>
                    </ng-container>
                  </ng-container>
                </div>
            </div>
          </div>
        </div>
      </p-accordionTab>
  </p-accordion>
</div>

<p-dialog [maximizable]="true" [baseZIndex]="10000" [draggable]="false"
  [resizable]="false" [appendTo]="'body'" [modal]="true"
  header="Metadata - {{ selectedLayerTitle }}"
  [(visible)]="selectedLayerToggle" [style]="{ width: '50vw' }"
>
  <table>
    <tbody>
      <tr class="table-row" *ngFor="let metadata of selectedLayerMetadata">
        <td class="title-row">
          <b>{{ metadata.title }}</b>
        </td>
        <td
          *ngIf="metadata.title != 'URL'; else linkDetails"
          class="content-row"
        >
          {{ metadata.description }}
        </td>
        <ng-template #linkDetails>
          <td class="content-row" [innerHTML]="metadata.description"></td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</p-dialog>

<ng-template #loading>
  <app-loading-spinner />
</ng-template>
