# Application
APP_NAME="Malha Fundiária Ambiental"
NODE_ENV=dev
PORT=3000

# Paths
CLIENT_DIR="../client/dist/malha-fundiaria-ambiental/"
LANGUAGE_DIR="../client/src/assets/locales/"
LANG_DIR="/lang"
LOG_DIR="/log/"
TMP="/tmp/"

# Map Settings
MAX_AREA=9500
OWS=""
OWS_HOST=""
OWS_API=""

# Database
PG_USER=""
PG_HOST=""
PG_DATABASE_LAPIG=""
PG_DATABASE_GENERAL=""
PG_PASSWORD=""
PG_PORT=5432
PG_DEBUG=True
PG_DBNAME=""

# Auth (Keycloak)
AUTH_URL=""
AUTH_REALM=""
AUTH_ID=""
AUTH_SECRET=""

# Security
RECAPTCHA_KEY=""

# Directories
HOTSITE_DIR=""
PLATAFORMS_FOLDER_LOCALHOST="/plataforms_files/"
FIELD_DIR=""
UPLOAD_DIR=""
DOWNLOAD_DIR=""
APP_PRODUCAO=""
