<section id="main" class="container">
  <section class="main-layout desktop">
    <div class="menu-sidebar">
      <div class="logo-menu-header">
        <div class="nav-list-element" routerLink="/" pTooltip="Home" tooltipPosition="right">
          <i class="bx bx-home-alt"></i>
        </div>
      </div>

      <ul class="nav-list">
        <li *ngFor="let menu of menus">
          <div class="nav-list-element" 
               [ngClass]="{'nav-list-element-active': menu.show}" 
               (click)="onMenuClick(menu)"
               [pTooltip]="'menu.' + menu.key | translate"
               tooltipPosition="right">
            <i [class]="menu.icon"></i>
            <div class="links-name">{{ "menu." + menu.key | translate }}</div>
          </div>
        </li>
      </ul>

      <ul class="nav-list footer">
          <li (click)="changeLanguage('pt')">
            <div class="lng" [ngClass]="{'lng-active': lang == 'pt'}">
              <span class="lng-name"> PT </span>
            </div>
          </li>
          <li (click)="changeLanguage('en')">
            <div class="lng" [ngClass]="{'lng-active': lang == 'en'}">
              <span class="lng-name"> EN </span>
            </div>
          </li>
      </ul>
    </div>
  </section>

  <!-- Left Sidebar (Layers & Options) -->
  <p-sidebar
    [modal]="false"
    (onHide)="onLeftSidebarClose()"
    [transitionOptions]="'200ms cubic-bezier(0, 0, 0.2, 1)'"
    [(visible)]="leftSidebarVisible"
    styleClass="p-sidebar-left"
  >
    <ng-template pTemplate="header">
      <img class="logo" src="../../../assets/logos/lapig.png" alt="Logo Lapig" title="Lapig" />
    </ng-template>

    <div *ngFor="let menu of menus">
      <div *ngIf="menu.key !== 'statistics' && menu.show">
        <app-layers-sidebar
          *ngIf="menu.key == 'layers' && menu.show"
        ></app-layers-sidebar>
        <app-options-sidebar
          *ngIf="menu.key == 'options' && menu.show"
        ></app-options-sidebar>
      </div>
    </div>

    <ng-template pTemplate="footer">
      <div class="partners" style="padding: 10px; text-align: center;">
        <img src="assets/logos/marcas.png" alt="" style="max-width: 90%;" />
      </div>
    </ng-template>
  </p-sidebar>

  <!-- Right Sidebar (Statistics) -->
  <p-sidebar
    position="right"
    [modal]="false"
    [(visible)]="menus[1].show"
    [transitionOptions]="'200ms cubic-bezier(0, 0, 0.2, 1)'"
    styleClass="p-sidebar-right"
  >
    <app-statistics-sidebar></app-statistics-sidebar>
  </p-sidebar>

  <app-general-map class='{{ (menus[0].show || menus[2].show ? "left-sidebar-open " : "" ) + (menus[1].show ? "right-sidebar-open" : "") }}'></app-general-map>
</section>
